<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示する %>
    <% if user_signed_in? %>
      <div class="greeting" >
        <%= "こんにちは、" %>
        <%= link_to current_user.name, user_path(current_user), class: :greeting__link %>
          <%# どっちを記載するか。。。%>
         <%#= link_to current_user.name, "prototype_user_path#{current_user.id}", class: :greeting__link %>
      </div>
    <% end %>
    <%# // ログインしているときは上記を表示する %>
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: 'prototype', collection: @prototypes %>
    </div>
    <div class="contents row">
     <% @prototypes.each do |prototype| %>
     <div class="content_post" style="background-image: url(<%= prototype.image %>);">
     </div>
      <% end %>
    </div>
      <%#= link_to(prototype_path(prototype)) do %>
      <%#= image_tag prototype.image.first.image.url(:medium), class: "card__img" %>
      <%# end %>
   </div>
</main>